#box {
    position:absolute;
    padding:25px;
    border:5px solid #573c02;
    background-color: #785406;
    border-radius: 100px;

}

body {
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, black 4px, transparent 10px),
      linear-gradient(to bottom, black 4px, transparent 10px);
  }

