body{
    padding: 0px;
    margin: 0px;
    background-color: #8C95CF;
}




.stripedbox {
    display: block;
    border: 6px solid #465298;
    padding: 10px;
    margin: 0px;
    text-align: left;
    vertical-align: middle;   
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );

}

.short {
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background-color: #606dbc;
    display: block;
    line-height: 40px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 6px solid #465298;
    font-family: courier;
}



h1 {
    font-weight: 900;
    color: #fff;
    margin: 0px;
    padding: 10px;
    font-family: courier;
}

h2 {
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-family: courier;
}

