body{
    padding: 0px;
    margin: 0px;
    background-color: #8C95CF;
}




.stripedbox {
    display: block;
    border: 6px solid #465298;
    padding: 10px;
    margin: 0px;
    text-align: left;  
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
    );

}

.short {
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background-color: #606dbc;
    display: block;
    line-height: 40px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 6px solid #465298;
    font-family: courier;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.4em;

}



h1 {
    font-weight: 900;
    color: #fff;
    margin: 0px;
    padding: 10px;
    font-family: courier;
}

h2 {
    font-weight: 700;
    color: #fff;
    text-align: center;
    font-family: courier;
}

input[type=text]{
    width:20%;
    border:2px solid #000;
    margin:8px 0;
    outline:none;
    padding:8px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input[type=text]:focus{
    border-color:#000;
  
  }

  .textbox {
      padding-left: 200px;
      padding-top: 20px;
      width: 100%;
  }



  h3 {
      font-size: 10;
      font-weight: 700;
      font-family: courier;
  }


  .input-container {
    padding-top: 2em;
    padding-left: 30em;
  }

  .long {
    margin-top: 50px;
    width: 300px;
    height: 40px;
    background-color: #465298;
    display: block;
    line-height: 40px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 6px solid #606dbc;
    font-family: courier;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 1.4em;

  }
  label {
      color: white;
      font-family: courier;
      font-weight: 900;
  }

  .infobox {
      border: 6px solid #465298;
      background-color: #606dbc;
      font-family: courier;
      color: white;
      text-align: center;
  }

  .op {
      font-weight: 900;
      font-family: courier;
      color: #ffffff;
      display: block;
      text-align: center;
  }

  .radio {
      font-family: courier;
      font-weight: 900;
      text-align: center;
      color: #ffffff;
      display: block;
      background-color: #606dbc;
      border: 3px solid #465298;
      width: 200px;
      margin: 0 auto;
  }
  